################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SeamCarving.Web/bin/Debug/netcoreapp2.1/dll
